header
  h1 Weather Finder
    i.fa.fa-sun-o
  form(method="post" action='/posting')
    .search
      input(name='search' placeholder='search city' autocomplete="off" type='text')
      i.fa.fa-thermometer-full