extends layout

block content
  .container
    .forecast
      .inner
        h4
          i.fa.fa-map-marker
          | New York, United States of America
        h4 
          i.fa.fa-clock-o
          | 22:35 PM
        .temp
          img(src="//cdn.apixu.com/weather/64x64/day/116.png")
          h1 80°
        h2 Partly cloudy
        h2 54° | 48°
        footer
          a(href='#') Current
          a(href='#') 5 Days