i.fa.fa-thermometer-full
  margin 0 0 0 10px
  font-size 2em
  vertical-align middle
  &:hover
    color: colors.red
    cursor pointer
input[type=text]
  background transparent
  text-transform uppercase
  padding 7px 15px
  text-align center
  font-size 1em
  font-weight bolder
  color: colors.red
  width 35%
  box-sizing border-box
  border none
  border-bottom: 3px solid black
  &:focus
    outline none
    border-bottom: 3px solid colors.red
input[type=text]::placeholder
  color: colors.white
  font-weight: lighter
  text-align center
  text-transform uppercase
input:focus::-webkit-input-placeholder
  color:transparent